.quantity-input {
  width: 50px;
  display: none;
  padding-left: 10px;
  outline-color: skyblue;
}

.save-quantity-link {
  display: none;
}
.is-editing-quantity .quantity-input {
  display: initial;
}
.is-editing-quantity .save-quantity-link {
  display: initial;
}
.is-editing-quantity .quantity-label {
  display: none;
}

.is-editing-quantity .update-quantity-link {
  display: none;
}
